@import 'Colors';

.login-form {
    position: relative;
    text-align: center;

    form {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        margin: auto;
        z-index: 1000;
        text-align: left;
    }
    input{
        margin: .5em auto;
        width: 100%;
        height: 2em;
        border-radius: 6px;
        border: 2px solid $blue;
        transition: all 0.4s;
        padding: .5em .4em;
        box-shadow: 4px 4px 10px $shadow;
    }

    input:active, input:focus {
        outline: none;
        border: 2px solid $orange;
        transform: scale(1.2);
    }
    input::placeholder, input::placeholder{
        color: $orange;
        transition: all 0.4s;
        opacity: 1;
    }

    input:focus::placeholder, input:focus::placeholder{
        opacity: 0;
    }

    .sign-in-btn {
        font-family: 'Noto sans';
        margin: 1em auto;
        width: 40%;
        height: 4em;
        border-radius: 6px;
        font-weight: 800;
        letter-spacing: .3em;
        background-color: $blue;
        border: 2px solid $blue;
        cursor: pointer;
        transition: all 0.4s;
        box-shadow: 4px 4px 10px $shadow;
    }

    .sign-in-btn:hover {
        border:2px solid $orange;
        background-color: $orange;
    }

    .error-modal {
        margin:auto;
        top: 40%;
        left: 26%;
        height: 100%;
        width: 50%;
        position: absolute;
        z-index: 100;
        background-color: $blueBg;
        transform: translateX(0);
        transition: all 0.4s;
        border-radius: 6px;
        background: $whiteBg;
        box-shadow: 4px 4px 10px $shadow;
        
        button {
            margin-top: 5em;
            background-color: $blue;
            border: 2px solid $blue;
            width: 40%;
            height: 4em;
            border-radius: 6px;
            font-weight: 800;
            letter-spacing: .3em;
            cursor: pointer;
            transition: all 0.4s;
        }

        button:hover {
            background-color: $orange;
            border: 2px solid $orange;
        }
    }

    .no-error {
        transform: translateX(-92em); 
    }

}

